<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- dev mode -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

    <!-- prod mode -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="lib/browser-print.js"></script>
    <script src="lib/index.js"></script>
    <script type="text/javascript">
      $(document).ready(setup_web_print);
    </script>
  </head>
  <body>
    <div id="app">
      <div class="parent">
        <div class="header">
          <header-main :datas="barcodes"></header-main>
        </div>
        <div class="menu">
          <!-- menu -->
          <div id="printer_select" class="printer-selected">
            <div class="printer-name-option">
              Zebra Printer Options
            </div>
            <div class="printer-current">
              Printer: <select id="printers"></select>
            </div>
          </div> <!-- /printer_select -->
        </div>
        <div class="otp">
          <otp-main-and-submit
            @send-print-barcode="doPrintBarcode"
            @send-otp="findListBarcode">
          </otp-main-and-submit>
        </div>
        <div class="main" v-if="otpStatus === true">
          <main-list-barcode :datas="barcodes"></main-list-barcode>
        </div>
        <div class="main" v-if="otpStatus === 'loading'">
          <div class="loader">
            <img src="/assets/loader.gif">
          </div>
        </div>
      </div>
    </div>

    <!-- LIST COMPONENT -->
    <script src="components/header.js"></script>
    <script src="components/main.js"></script>
    <script src="components/otp.js"></script>
    <script>

      let vm = new Vue({
        el: '#app',
        data: {
          barcodes: [],
          otpStatus: false,
          otpCode: '',
          barcodeId: ''
        },
        methods: {
          findListBarcode (valueOTP) {
            let self = this
            self.otpStatus = 'loading'
            axios.get(`https://api-st.uniform.id/barcode/${valueOTP}`).then(res => {
              console.log(res.data);
              self.barcodes = res.data.result
              self.barcodeId = res.data.result[0]._id
              self.otpStatus = true
            }).catch(err => {
              self.otpStatus = ''
              console.log(err);
            })
          },
          printDone() {
            let self = this
            axios.delete(`https://api-st.unifor.id/barcode/${self.barcodeId}`).then(res => {
              console.log('done delete barcode list');
            }).catch(err => {
              console.log(err);
            })
          },
          doPrintBarcode () {
            if (this.otpStatus === true) {
              this.sendData()
            } else {
              alert('Silahkan masukan kode print barcode anda...')
            }
          },
          checkPrinterStatus (finishedFunction) {
            selected_printer.sendThenRead("~HQES", function (text) {
              console.log(text, '<--- textnya');
              let statuses = new Array()
              let ok = false
              let is_error = text.charAt(70)
              let media = text.charAt(88)
              let head = text.charAt(87)
              let pause = text.charAt(84)
              // check each flag that prevents printing
              if (is_error == '0') {
                ok = true
                statuses.push("Ready to Print")
              }
              if (media == '1')
                statuses.push("Paper out")
              if (media == '2')
                statuses.push("Ribbon Out")
              if (media == '4')
                statuses.push("Media Door Open")
              if (media == '8')
                statuses.push("Cutter Fault")
              if (head == '1')
                statuses.push("Printhead Overheating")
              if (head == '2')
                statuses.push("Motor Overheating")
              if (head == '4')
                statuses.push("Printhead Fault")
              if (head == '8')
                statuses.push("Incorrect Printhead")
              if (pause == '1')
                statuses.push("Printer Paused")
              if ((!ok) && (statuses.Count == 0))
                statuses.push("Error: Unknown Error")
                finishedFunction(statuses.join())
            }, null)
          },
          sendData () {
            let self = this

          	self.checkPrinterStatus(function (text) {
              let barcode = self.barcodes[0].barcode_list
              let format_start,
                  format_end
          		if (text == "Ready to Print") {
                for (let i = 0; i < barcode.length; i+=2) {
                  if (barcode[i].quantity_print === 1 && barcode.length === 1) {
                    console.log('// jika quantity kiri 1 dan kanan tidak ada');
                    format_start = `
                    ^XA
                    ^FO100,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                    ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                    ^FO100,90^BY2^BCN,55Y,,N
                    ^FO100,120^BC^FD${barcode[i].barcode}^FS
                    `
                    format_end = "^FS^XZ"
                    selected_printer.send(format_start + format_end, null, null)
                  } else if (barcode[i].quantity_print > 1 && barcode.length === 1) {
                    console.log('// jika quantity kiri lebih dari 1 dan kanan tidak ada');
                    for (let j = 0; j < barcode[i].quantity_print; j+=2) {
                      format_start = `
                      ^XA
                      ^FO100,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                      ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                      ^FO100,90^BY2^BCN,55Y,,N
                      ^FO100,120^BC^FD${barcode[i].barcode}^FS

                      ^FO450,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                      ^FO450,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                      ^FO450,90^BY2^BCN,55Y,,N
                      ^FO450,120^BC^FD${barcode[i].barcode}^FS
                      `
                      format_end = "^FS^XZ"
                      selected_printer.send(format_start + format_end, null, null)
                    }
                  }
                  else if (barcode[i].quantity_print === 1 && barcode[i+1].quantity_print === 1) {
                    console.log('// jika quantity print kiri 1 dan kanan 1');
                    format_start = `
                    ^XA
                    ^FO100,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                    ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                    ^FO100,90^BY2^BCN,55Y,,N
                    ^FO100,120^BC^FD${barcode[i].barcode}^FS

                    ^FO450,25^A2,25,10^FH^FD${barcode[i+1].sku_name}^FS
                    ^FO450,85^A2,25,10^FH^FDSize: ${barcode[i+1].size}^FS
                    ^FO450,90^BY2^BCN,55Y,,N
                    ^FO450,120^BC^FD${barcode[i+1].barcode}^FS
                    `
                    format_end = "^FS^XZ"
                    selected_printer.send(format_start + format_end, null, null)
                  }
                  else if (barcode[i].quantity_print === 1 && barcode[i+1].quantity_print > 1) {
                    console.log('// jika quantity kiri 1 dan kanan lebih dari 1');
                    format_start = `
                    ^XA
                    ^FO100,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                    ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                    ^FO100,90^BY2^BCN,55Y,,N
                    ^FO100,120^BC^FD${barcode[i].barcode}^FS
                    `
                    format_end = "^FS^XZ"
                    selected_printer.send(format_start + format_end, null, null)

                    for (let j = 0; j < barcode[i+1].quantity_print; j+=2) {
                      console.log('masuk sini');
                      format_start = `
                      ^XA
                      ^FO100,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                      ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                      ^FO100,90^BY2^BCN,55Y,,N
                      ^FO100,120^BC^FD${barcode[i].barcode}^FS

                      ^FO450,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                      ^FO450,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                      ^FO450,90^BY2^BCN,55Y,,N
                      ^FO450,120^BC^FD${barcode[i].barcode}^FS
                      `
                      format_end = "^FS^XZ"
                      selected_printer.send(format_start + format_end, null, null)
                    }

                  }
                  else if (barcode[i].quantity_print > 1 && barcode[i+1].quantity_print === 1) {
                    console.log('// jika quantity kiri lebih dari 1 dan kanan 1');
                    for (let j = 0; j < barcode[i].quantity_print; j+=2) {
                      format_start = `
                      ^XA
                      ^FO100,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                      ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                      ^FO100,90^BY2^BCN,55Y,,N
                      ^FO100,120^BC^FD${barcode[i].barcode}^FS

                      ^FO450,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                      ^FO450,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                      ^FO450,90^BY2^BCN,55Y,,N
                      ^FO450,120^BC^FD${barcode[i].barcode}^FS
                      `
                      format_end = "^FS^XZ"
                      selected_printer.send(format_start + format_end, null, null)
                    }

                    format_start = `
                    ^XA
                    ^FO100,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                    ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                    ^FO100,90^BY2^BCN,55Y,,N
                    ^FO100,120^BC^FD${barcode[i].barcode}^FS
                    `
                    format_end = "^FS^XZ"
                    selected_printer.send(format_start + format_end, null, null)
                  }
                  else if (barcode[i].quantity_print > 1 && barcode[i+1].quantity_print > 1) {
                    console.log('// jika quantity kiri dan kanan lebih dari 1');
                    if (barcode[i].quantity_print % 2 !== 0) {
                      // kalo tidak genap
                      for (let j = 0; j < barcode[i].quantity_print - 1; j+=2) {
                        format_start = `
                        ^XA
                        ^FO100,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                        ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                        ^FO100,90^BY2^BCN,55Y,,N
                        ^FO100,120^BC^FD${barcode[i].barcode}^FS

                        ^FO450,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                        ^FO450,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                        ^FO450,90^BY2^BCN,55Y,,N
                        ^FO450,120^BC^FD${barcode[i].barcode}^FS
                        `
                        format_end = "^FS^XZ"
                        selected_printer.send(format_start + format_end, null, null)
                      }
                      format_start = `
                      ^XA
                      ^FO100,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                      ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                      ^FO100,90^BY2^BCN,55Y,,N
                      ^FO100,120^BC^FD${barcode[i].barcode}^FS
                      `
                      format_end = "^FS^XZ"
                      selected_printer.send(format_start + format_end, null, null)
                    } else {
                      // kalo genap
                      for (let j = 0; j < barcode[i].quantity_print; j+=2) {
                        format_start = `
                        ^XA
                        ^FO100,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                        ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                        ^FO100,90^BY2^BCN,55Y,,N
                        ^FO100,120^BC^FD${barcode[i].barcode}^FS

                        ^FO450,25^A2,25,10^FH^FD${barcode[i].sku_name}^FS
                        ^FO450,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
                        ^FO450,90^BY2^BCN,55Y,,N
                        ^FO450,120^BC^FD${barcode[i].barcode}^FS
                        `
                        format_end = "^FS^XZ"
                        selected_printer.send(format_start + format_end, null, null)
                      }
                    }

                    if (barcode[i+1].quantity_print % 2 !== 0) {
                      for (let j = 0; j < barcode[i+1].quantity_print - 1 ; j+=2) {
                        format_start = `
                        ^XA
                        ^FO100,25^A2,25,10^FH^FD${barcode[i+1].sku_name}^FS
                        ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i+1].size}^FS
                        ^FO100,90^BY2^BCN,55Y,,N
                        ^FO100,120^BC^FD${barcode[i+1].barcode}^FS

                        ^FO450,25^A2,25,10^FH^FD${barcode[i+1].sku_name}^FS
                        ^FO450,85^A2,25,10^FH^FDSize: ${barcode[i+1].size}^FS
                        ^FO450,90^BY2^BCN,55Y,,N
                        ^FO450,120^BC^FD${barcode[i+1].barcode}^FS
                        `
                        format_end = "^FS^XZ"
                        selected_printer.send(format_start + format_end, null, null)
                      }
                      format_start = `
                      ^XA
                      ^FO100,25^A2,25,10^FH^FD${barcode[i+1].sku_name}^FS
                      ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i+1].size}^FS
                      ^FO100,90^BY2^BCN,55Y,,N
                      ^FO100,120^BC^FD${barcode[i+1].barcode}^FS
                      `
                      format_end = "^FS^XZ"
                      selected_printer.send(format_start + format_end, null, null)
                    } else {
                      for (let j = 0; j < barcode[i+1].quantity_print; j+=2) {
                        format_start = `
                        ^XA
                        ^FO100,25^A2,25,10^FH^FD${barcode[i+1].sku_name}^FS
                        ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i+1].size}^FS
                        ^FO100,90^BY2^BCN,55Y,,N
                        ^FO100,120^BC^FD${barcode[i+1].barcode}^FS

                        ^FO450,25^A2,25,10^FH^FD${barcode[i+1].sku_name}^FS
                        ^FO450,85^A2,25,10^FH^FDSize: ${barcode[i+1].size}^FS
                        ^FO450,90^BY2^BCN,55Y,,N
                        ^FO450,120^BC^FD${barcode[i+1].barcode}^FS
                        `
                        format_end = "^FS^XZ"
                        selected_printer.send(format_start + format_end, null, null)
                      }
                    }
                  }
                }
          		}
          	})
            self.printDone()
          }
        },
        created () {
          // ^XA
          // ^FO100,25^A2,25,10^FH^FD${one}^FS
          // ^FO100,55^A2,25,10^FH^FD${two}^FS
          // ^FO100,85^A2,25,10^FH^FDSize: ${barcode[i].size}^FS
          // ^FO100,90^BY2^BCN,55Y,,N
          // ^FO100,120^BC^FD${barcode[i].barcode}^FS
          //
          // ^FO450,25^A2,25,10^FH^FD${barcode[i+1].sku_name}^FS
          // ^FO450,85^A2,25,10^FH^FDSize: ${barcode[i+1].size}^FS
          // ^FO450,90^BY2^BCN,55Y,,N
          // ^FO450,120^BC^FD${barcode[i+1].barcode}^FS
          // `
          // format_end = "^FS^XZ"
        }
      })
    </script>
  </body>
</html>
